.res {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #333;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
}

input[type="name"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
}

input[type="submit"] {
    background-color: #333;
    color: #da21d3;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #e927b9;
}

p {
    margin: 20px 0;
    font-size: 1.2rem;
}

Link {
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
}

Link:hover {
    text-decoration: underline;
}